@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');  /*Poppins font from google fonts*/

body 
{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background: linear-gradient(-45deg, #1F75FE,#6A5ACD, #3457D5, #23a6d5,#4D4DFF, #23d5ab,#191970);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

/* Background animation */
@keyframes gradient 
{
  0% 
  {
		background-position: 0% 50%;
	}
  50% 
  {
		background-position: 100% 50%;
	}
  100% 
  {
		background-position: 0% 50%;
	}
}

/* Hospital Icon */
.imgcontainer .slider 
{
  margin: 0 auto;
  width: 128px;
  height: 128px;
  background-image: url(hospital-icons/1.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  padding-top: 25px;
  background-color: white;
  border-radius: 150px;
  animation: slide 25s ease-in-out infinite;
}

/* Hospital Icons Animation  */
@keyframes slide
{
  20%
  {
    background-image: url(hospital-icons/2.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  40%
  {
    background-image: url(hospital-icons/3.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  50%{
    background-image: url(hospital-icons/4.png);
  background-position: center;
  background-repeat: no-repeat;
  }
  60%
  {
    background-image: url(hospital-icons/5.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  70%
  {
    background-image: url(hospital-icons/6.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  80%
  {
    background-image: url(hospital-icons/7.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  90%
  {
    background-image: url(hospital-icons/8.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  100%
  {
    background-image: url(hospital-icons/1.png);
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* Box containing the form */
.container
{
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 35%;
  margin-right: 35%;
  padding-bottom: 3%;
}
  
/* "Vital Essence" heading */
.main-head
{
  padding-top: 10px;
  text-align: center;
  color: white;
  font-size: 1.1em;
}

/* Login Form */
#login-form
{
  width: 80%;
  margin: 0 20px;
  font-size: 17px;
}
/* input field features */
input[type=text], input[type=password] 
{
  border: 1px solid #ccc;
  width: 100%;
  margin: 0 30% 0 4%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
/* Button style */
.btn-grad 
{
  background-image: linear-gradient(to right, #5e13a3 0%, #26D0CE  51%, #1A2980  100%)
}
.btn-grad 
{
  margin: 10px auto;
  padding: 15px 55px;
  text-transform: uppercase;
  transition: 0.7s;
  background-size: 200% auto;            
  border-style: none;
  display: block;
  border-radius: 40px;
}
/* Button animation while hovering */
.btn-grad:hover 
{
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
/* Button text's style */
.btn-grad a
{
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 18px;
}

/* Styling the line 'Or start a new journey with us' */
.or
{
  color: white;
  text-align: center;
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: large;
}

/* For mobile screens */
@media only screen and (max-width:700px)
{
  .container
  {
    margin-left: 10px;
    margin-right: 10px;
  }
  .btn-grad 
  {
    margin-left: auto;
  }
  .or
  {
    margin-left: 8px;
  }
}
