/* Mobile-first responsive */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* 
{
  box-sizing: border-box;
}

body 
{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background: linear-gradient(-45deg, #1F75FE,#6A5ACD, #3457D5, #23a6d5,#4D4DFF, #23d5ab,#191970);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient 
{
  0% 
  {
    background-position: 0% 50%;
    }
  50% 
  {
		background-position: 100% 50%;
	}
  100% 
  {
		background-position: 0% 50%;
	}
}

.container 
{
    padding: 16px;
}

.container h1
{
  color: white;
  text-align: center;
  font-size: 2em;
}

.container hr 
{
  border: none;
  background: linear-gradient(90deg,#1F75FE,skyblue);
  height: 2px;
}

.box
{
  padding: 15px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
  font-size: 17px;
}

/* Full-width input fields */
input[type=text] 
{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
  box-sizing: border-box;
}
.head-browse
{
    font-size: 20px;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus 
{
  background-color: #ddd;
  outline: none;
}

input[type=file]
{
    display: none;
} 

input#myFile + label
{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #0e59e2;
    background-color: rgba(255,255,255,0.5);
    padding-top: -15px;
    padding: 10px;
    border-radius: 9px;
    outline: none;
}

input#myFile + label:hover
{
    background-color: #5bb3d6;
    color: rgba(0,0,0,0.9);
}
.btn-grad 
{
  background-image: linear-gradient(to right, #5e13a3 0%, #26D0CE  51%, #1A2980  100%)
}
.btn-grad 
{
  font-size: 18px;
  color: white;
  margin: 10px auto;
  padding: 15px 55px;
  text-transform: uppercase;
  transition: 0.7s;
  background-size: 200% auto;            
  border-style: none;
  display: block;
  border-radius: 40px;
  cursor: pointer;
}
.btn-grad:hover 
{
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width:900px)
{
  .gif
  {
    display: none;
  }
}
@media only screen and (min-width:900px)
{
    .container 
    {
        margin-bottom: 16px;
    }
    .form-container
    {
      margin-top: -35%;
    }
    .gif video
    {
      position: relative;
      margin-top: 10%;
      left: 63%;
      border-radius: 20px;
    } 
    .container h1
    {
        text-align: left;
    }
    .container hr 
    {
      background: linear-gradient(90deg,#1F75FE,skyblue);
      margin-right: 40%;
      margin-top: -10px;
      margin-bottom: 15px;
    }
    .btn-grad 
    {
        font-size: 22px;
        padding: 2% 5%;
        margin-top: 2%;
        margin-left: 25%;
    }
    .box
    {
        padding: 15px;
        background-color: rgba(255,255,255,0.2);
        border-radius: 20px;
        font-size: 17px;
        margin-right: 40%;
    }
    input#myFile + label
    {
        border-radius: 10px;
    }
    .btn-grad 
    {
      margin-left: auto;
      font-family: 'Acme', sans-serif;
      font-size: 25px;
    }
}
